* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
text-align: center;
}

header,footer{
padding: 30px 0;
color: #fff;
background-color: darkblue;
}

.back-img {
background-image: url(./images/눈.jpg);
height: 600px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.section-box {
display: flex;
justify-content: space-between;
width: 90%;
margin: 30px auto;
}

.section-box div {
width: 30%;
height: 300px;
border: 1px solid #000;    
}

@media screen and (max-width : 1200px) {
    header,footer{
        background-color: dodgerblue;
        padding: 25px 0;
        }
    
    .back-img{
    background-image: url(./images/스누피칭구들.jpeg);
    height: 400px;
    background-position: center top;
    }

}

@media screen and (max-width : 768px) {
    header,footer{
    background-color: blue;
    padding: 15px 0;
    }

    .back-img{
     background-image: url(./images/back.jpg);
     }   

    .section-box {
    flex-direction: column;
    align-items: center;
    }     

    .section-box div {
    margin-top: 20px;
    width: 90%;
    height: 150px;
    border: 1px solid red;    
    }
}